<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        Login
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  
  <form #form="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="text" class="form-control" placeholder="Entre com o email" 
        [(ngModel)]="user.email" name="email" required #email="ngModel">></ion-input>
      </ion-item>
      <ion-item *ngIf='email.errors && (email.dirty || email.touched)' class="text-danger">
        O campo é obrigatório
      </ion-item>
      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input type="password" class="form-control" placeholder="Entre com a senha" 
        [(ngModel)]="user.senha" name="senha" required #senha="ngModel"></ion-input>
      </ion-item>
      <ion-item *ngIf='senha.errors && (senha.dirty || senha.touched)' class="text-danger">
          O campo é obrigatório
        </ion-item>
    </ion-list>
    <button ion-button type="submit" [disabled]="!form.form.valid" block>Login</button>
    <button ion-button full outline>Esqueci minha senha</button>
    <button ion-button full outline (click)="novoUsuario()" >Criar conta</button> 
  </form>
</ion-content> 