<ion-card class="cardComponente">
  <ion-card-header>
      <ion-row>
          <ion-col class="titulo" float-left>
              Resumo Pagamento - {{ resumo?.mes | date: 'MMMM/yyyy'}}
          </ion-col>
          <ion-col>
              <button float-right ion-button icon-start (click)="emitirPdf()">
                  <ion-icon name="document"></ion-icon>
              </button>
          </ion-col>
      </ion-row>
  </ion-card-header>
  <ion-card-content>
      <ion-row class="descricao">
          <ion-col>Pagamento</ion-col>
          <ion-col>Salário Bruto</ion-col>
          <ion-col>Descontos</ion-col>
      </ion-row>
      <ion-row>
          <ion-col>{{ resumo?.mes | date: 'dd/MM/yyyy'}}</ion-col>
          <ion-col>{{ resumo?.salarioBruto | currencyFormat}}</ion-col>
          <ion-col>{{ resumo?.descontos | currencyFormat }}</ion-col>
      </ion-row>
  </ion-card-content>
  <ion-card-content class="footer">
    <ion-row>
        <ion-col class="salarioLiquidoDescricao">Salário Líquido</ion-col>
        <ion-col class="salarioLiquidoValor">{{ resumo?.salarioLiquido | currencyFormat }}</ion-col>
    </ion-row>
</ion-card-content>
</ion-card>
